.manageCity {
  display: flex;
  flex-flow: column;
}

.manageHeader {
  text-align: left;
  color: #777777;
  margin-top: 10px;
}

.manageCityItem {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-top: 10px;
  background: #ebedee;
  padding: 10px;
}

.cityItem {
  display: flex;
  margin-top: 20px;
}

.description {
  font-size: 14px;
  font-weight: bold;
}

.limitMsg {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}
