.manageButtonsInput {
  display: flex;
  margin-bottom: 10px;
}
.groupButton {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .manageButtonsInput {
    flex-flow: column;
  } 
}







