.header {
  text-align: center;
  background-color: #1A9FFF;
  padding: 5px;
  color: white;
}

@media screen and (max-width: 900px) {
  .headerName {
    font-size: 2em;
  }  
  .headerDesc {
    font-size: 1.5em;
  }  
}
@media screen and (max-width: 600px) {
  .headerName {
    font-size: 1.5em;
  }  
  .headerDesc {
    font-size: 1.2em;
  }  
}


